@model List<Book>

<div class="row g-4">
    @if (Model != null && Model.Any())
    {
        @foreach (var book in Model)
        {
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                        <img src="@book.CoverUrl" class="img-fluid w-100 rounded-top" alt="@book.Title">
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                        @book.Category.Name
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                        <h4>@book.Title</h4>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">@book.Price</p>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>What in the hell is this</p>
    }
</div>
